* {
    margin: 0;
    padding: 0%;
    border: none;
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Bebas Neue', cursive, Times, serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #08031f;
    position: relative
}

.header-nav {
    background-color: #f1f1f1;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.header-name {
    padding: 10px;
    flex: 50%;
    float: left;
}

.menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

/*hovering underline on menu*/
.menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/*To show the page your on*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

.name-container {
    padding-top: 20%;
    padding-left: 20%;
    color: #fafafa;
}

.name-container h2 {
    color: #8a1743;
}

.main-name {
    font-size: 280%;
}

.last-name {
    color: #8a1743;
}

.about, .skills {
    width: 100%;
    padding: 100px 0px;
}

.text-about, .text-skills {
    width: 550px;
    color: whitesmoke;
}

.main, .skills-main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.text-about h2, .text-skills h2 {
    color: #f1f1f1;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.text-about h5, .text-skills h5 {
    color: #8a1743;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
}

.text-about p {
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

#link-prject li {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}

#link-prject a{
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}

#link-prject a:hover {
    color: #8a1743;
}

#email-link a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}

#email-link a:hover {
    color: #8a1743;
}